 .menuNonListPart {
     border-bottom: none !important;
 }

 .ant-menu-dark .menuNonListPart {
     background-color: #001529 !important;
 }

 @media only screen and (min-width: 901px) {
     .switchClass {
         margin-left: 65%;
         border-bottom: none !important;
     }
     .specialClassForHeaderPanelClass {
         display: inline-block !important;
     }
     .headerPanelClassForSideNav {
         display: none;
     }
 }
 .ant-layout-sider-children .ant-menu-dark{
    height: 510px;
    overflow-y: auto;
    overflow-x: hidden;   
 }
 .ant-layout-sider-children .ant-menu-light {
  background-color: #34979d !important;
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
} 
 

 @media only screen and (min-width: 801px)and (max-width: 900px) {
     .switchClass {
         margin-left: 55%;
         border-bottom: none !important;
     }
     .specialClassForHeaderPanelClass {
         display: none !important;
     }
     .headerPanelClassForSideNav {
         display: inline;
     }
     .ant-layout-sider-children .ant-menu-light {
        background-color: #34979d !important;
        height: 510px;
        overflow-y: auto;
        overflow-x: hidden;
    }
 }

 .mobClass {
     display: none !important;
 }

 @media only screen and (min-width: 600px)and (max-width: 800px) {
     .switchClass {
         margin-left: 30%;
         border-bottom: none !important;
     }
     .specialClassForHeaderPanelClass {
         display: none !important;
     }
     .headerPanelClassForSideNav {
         display: inline;
     }
     .ant-layout-sider-children .ant-menu-light {
        background-color: #34979d !important;
        height: 550px;
        overflow-y: auto;
        overflow-x: hidden;
    }
 }

 @media only screen and (min-width: 380px)and (max-width: 599px) {
     .switchClass {
         margin-left: 10%;
         border-bottom: none !important;
     }
     .specialClassForHeaderPanelClass {
         display: none !important;
     }
     .headerPanelClassForSideNav {
         display: inline;
     }
     .mobClass {
         display: inline-block !important;
     }
     .desktopClassHeader {
         display: none;
     }
     .ant-layout-sider-light .ant-layout-sider-trigger {
        background-color: #34979d !important;
    }
    .ant-layout-sider-children .ant-menu-light {
        background-color: #34979d !important;
        height: 520px;
        overflow-y: auto;
        overflow-x: hidden;
    }
 }

 @media only screen and (min-width: 180px)and (max-width: 379px) {
     .switchClass {
         margin-left: 0%;
         border-bottom: none !important;
         padding-left: 10px !important;
     }
     .specialClassForHeaderPanelClass {
         display: none !important;
     }
     .headerPanelClassForSideNav {
         display: inline;
     }
     .mobClass {
         display: inline-block !important;
     }
     .desktopClassHeader {
         display: none;
     }
     .ant-layout-sider-light .ant-layout-sider-trigger {
         background-color: #34979d !important;
     }
     .ant-layout-sider-children .ant-menu-light {
        background-color: #34979d !important;
        height: 520px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .desktopClass{
        padding-left: 10%;
    }
 }

 .ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-item-only-child {
     border-bottom: none !important;
 }
 header{
     height: 67px !important;
 }

 /* .ant-menu-item-active,.ant-menu-item-selected{
    border-bottom: 2px solid #1890ff !important;
} */

 .headerWorldIcon {
     width: 30px;
     height: 30px;
     outline: none;
     border: none;
 }

 .headerPanelClass {
     z-index: 2px;
     position: absolute;
     top: -55px
 }

 .anticon-right svg {
     color: white
 }

 .specialClassForHeaderPanelClass {
     z-index: 1;
     background-color: none !important;
 }

 .headerLogoIcon {
     width: 65px
 }