.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-light {
  background-color: #34979d !important;
}

.ant-layout-sider-light, .ant-layout-sider-light {
  background-color: #34979d !important;
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 1))) !important;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}

.anticon-team img {
  width: 30px
}

.ant-layout-sider-children .ant-menu-light {
  background-color: #34979d !important;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ant-layout-sider-children .ant-menu-dark {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .ant-layout-sider-children .ant-menu-light .ant-menu-item span a,.ant-menu-submenu-inline .ant-menu-submenu-title:hover,.ant-menu-submenu-inline .ant-menu-submenu-title,.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow,.ant-menu-submenu-arrow::after{
  color: #11474f   !important;
} */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #11474f !important;
}

.ant-menu-vertical>.ant-menu-item, .ant-menu-vertical-left>.ant-menu-item, .ant-menu-vertical-right>.ant-menu-item, .ant-menu-inline>.ant-menu-item, .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 60px !important;
  line-height: 60px !important;
  font-size: 16px;
  font-weight: bolder;
}

/* .ant-menu-item-only-child{
  
} */

.arrowUpKey {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 92%;
  bottom: 10%;
  background-color: #11474f;
  padding-left: 9px;
  padding-top: 5px;
}

.pageHeading {
  font-size: 32px;
  width: 140px;
  margin: 0 auto;
  text-decoration: underline;
}

.pageSubHeading {
  font-size: 24px;
  text-decoration: underline;
}

.pageParagraphClass {
  font-size: 20px;
  text-align: justify;
}

.ant-layout-sider-collapsed .ant-layout-sider-children {
  width: 80px
}

.ant-menu-inline {
  height: 800px;
  overflow: auto;
}

body::-webkit-scrollbar-track, .ant-menu-inline::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar, .ant-menu-inline::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb, .ant-menu-inline::-webkit-scrollbar-thumb, .scrollClass::-webkit-scrollbar-thumb {
  background-color: #11474f;
}

/* .ant-menu-submenu-open{
 height: 250px !important; 
} */

.ant-collapse-content-active {
  border: 1px solid #34979d
}

.ant-menu-inline-collapsed {
  overflow: hidden !important;
}

.ant-descriptions-view {
  min-width: 335px;
}

.ant-spin-dot, .ant-spin-dot-spin {
  position: fixed !important;
  top: 50%;
  left: 50%;
}

.amt-menu-dark li {
  border-bottom: 2px solid #f4f4f4 !important;
}